<!DOCTYPE html>
<html>
  <head>
    <meta name='keywords' content='WebRTC, HTML5, JavaScript' />
    <meta name='description' content='WebRTC Reference App' />
    <meta name='viewport' content='width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1'>

    <title>WebRTC client</title>
  </head>

  <body>
    <h1>chat server</h1>
    <div id='container'>
      <div id='videos'>
        <h2>local</h2>
        <video id='localVideo' autoplay muted></video>
        <h2>remote</h2>
        <video id='remoteVideo' autoplay></video>
      </div>
    </div>

    <script src='/socket.io/socket.io.js'></script>
    <script src='/javascripts/server.js'></script>
  </body>
</html>
